<div class="gk" [ngClass]="grid ? 'gk-grid-view': 'gk-list-view'">
  <div *ngFor="let note of notes" class="gk-container">
    <mat-card class="head" [style.background-color]="note.color">
      <mat-card-header>
        <button *ngIf="note.pinned" mat-icon-button matTooltip="unpin" (click)="pinned('unpinned',note)" class="button">
          <img class="image" src="./assets/images/pin.svg" height="50%" id="imgRem">
        </button>
        <button *ngIf="!note.pinned" mat-icon-button matTooltip="pin" (click)="pinned('pinned',note)" class="button">
          <img class="image" src="./assets/images/unpin.png" height="50%" id="imgRem">
        </button>
        <mat-card-title (click)=openDialog(note)>
          {{note.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content (click)=openDialog(note)>
        {{note.discription}}
      </mat-card-content>

      <mat-chip-list #chipList>
        <mat-chip *ngFor="let label of note.labelList" [selectable]="selectable" [removable]="removable"
          (removed)="removeLabel(label,note)">
          {{label.labelName}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <div>
        <button mat-icon-button matTooltip="Remind me">
          <mat-icon>add_alert</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Collaborator" (click)="dailogCollaborator(note)">
          <mat-icon>person_add</mat-icon>
        </button>
        <app-changecolour [newNote]="note" (colorChange)="updateColor($event)"></app-changecolour>
        <button mat-icon-button matTooltip="Add image">
          <mat-icon>image</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!note.archive" (click)="updateArchiveNote('archive',note)" matTooltip="Archive">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button *ngIf="note.archive" (click)="updateArchiveNote('unarchive',note)"
          matTooltip="Undo Archive">
          <mat-icon>unarchive</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
          <i id="accountcircle" class="material-icons">more_vert</i></button>
        <mat-menu #more="matMenu" class="morecard">
          <div><button mat-button (click)="moveToTrash('inTrash',note)">Delete Note</button></div>
          <app-add-note-labels [note]="note" (eventAddNoteLabel)="addNoteLabel($event)"></app-add-note-labels>
        </mat-menu>
      </div>
    </mat-card>
  </div>
</div>
