<div>
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <!-- menu -->
      <button id="menubuttn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()"
        matTooltip="Menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
      <!-- Image -->
      <img src="./assets/images/keep-512.png" style="width:5%; height: 90%">

      <!-- keep -->
      <i id="text" fxHide.xs="true">Keep</i>

      &nbsp;&nbsp;&nbsp;
      <!-- Search -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <form class="slinput" action="action_page.php">
        <input class="input" type="search" placeholder="Search.." name="search">
        <button mat-button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <!-- Refresh -->

      <a mat-button routerLink="/homepage" routerLinkActive="active" matTooltip="Refresh" title="Refresh">
        <mat-icon>refresh</mat-icon>
      </a>

      <!-- List -->
      <a mat-button r routerLinkActive="active" matTooltip="Lists" title="lists">
        <mat-icon>dns</mat-icon>
      </a>

      <!-- Settings -->
      <button fxHide.xs="true" mat-icon-button [matMenuTriggerFor]="settings" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <span>Send feedback</span>
        </button>
        <button mat-menu-item>
          <span>Help</span>
        </button>
        <button mat-menu-item>
          <span>App downloads</span>
        </button>
        <button mat-menu-item>
          <span>Keyboad Shortcuts</span>
        </button>
      </mat-menu>

      <!-- Notification -->

      <a mat-button routerLinkActive="active" matTooltip="notification" title="notification">
        <mat-icon>notification_important</mat-icon>
      </a>


      <!-- <button mat-button [matMenuTriggerFor]="user" matTooltip="User Details" title="User Details">
  <mat-icon>account_circle</mat-icon>
</button> -->

      <!-- User -->
      <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="menu">
        <i id="accountcircle" class="material-icons">account_circle</i></button>
      <mat-menu #menu="matMenu" class="morecard">
        <button mat-button (click)="logout()">Sign out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-divider></mat-divider>



<!-- side navigation bar -->
<app-side-nav [toggleSidebar]="toggleNav" ></app-side-nav>

