<mat-list>
  <h3 mat-subheader>Collaborators</h3>
  <mat-divider></mat-divider>
  <mat-list-item *ngIf="user!=null">
    <!-- *ngIf="imageData.imageSrc===null" -->
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <!-- <img mat-list-icon class="image" *ngIf="imageData.imageSrc!=null" [src]="imageData.imageSrc"> -->
    <h4 mat-line>{{user.name}}(Owner)</h4>
    <p mat-line> {{user.emailId}} </p>
  </mat-list-item>
  <mat-list-item *ngFor="let collabUser of collabUsers">
    <!-- <mat-icon mat-list-icon *ngIf="imageData.imageSrc===null">account_circle</mat-icon> -->
    <!-- <img mat-list-icon class="image" *ngIf="imageData.imageSrc!=null" [src]="imageData.imageSrc"> -->
    <h4 mat-line>{{collabUser.name}}</h4>
    <p mat-line> {{collabUser.emailId}} </p>
    <mat-icon mat-list-icon (click)="removeCollaborator(collabUser)">clear</mat-icon>

  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>person_add</mat-icon>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Enter email here" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of users | searchuser:myControl.value" [value]="user.emailId">
            {{user.emailId}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-icon-button class="button">
      <mat-icon (click)="collaborate(myControl.value)">done</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div class="saveButton">
    <button mat-button (click)="closeClick()">Close</button>
    <button mat-button (click)="collaborate(myControl.value)">Save</button>
  </div>
</mat-list>