<div [style.background-color]="data.color">
  <button *ngIf="data.pinned" mat-icon-button matTooltip="unpin" (click)="pinned('unpinned',data)" class="button">
    <img class="image" src="./assets/images/pin.svg" height="50%"  style="margin-left: 90px"id="imgRem">
  </button>
  <button *ngIf="!data.pinned" mat-icon-button matTooltip="pin" (click)="pinned('pinned',data)" class="button">
    <img class="image" src="./assets/images/unpin.png" height="50%" style="margin-left: 90px" id="imgRem">
  </button>
  <div class="notecard">
      <div *ngFor="let image of data.images" class="imageNote">
        <img [src]="getImages(image,data)" class="imageSize">
        <mat-icon class="delete-icon" (click)=deleteImage(image,data)>delete</mat-icon>
  </div>
  <div class="notecard">
    <div>
      <input class="noBorderAndBackground" matInput [(ngModel)]="data.title" [value]=data.title>
    </div>
    <div>
      <textarea class="noBorderAndBackground" matInput [(ngModel)]="data.discription"
        [value]=data.discription></textarea>
    </div>

    <mat-chip-list #chipList>
        <mat-chip *ngIf="data.remainder" [selectable]="selectable" [removable]="removable"
          (removed)="removeRemainder(data)">
          <mat-icon>timer</mat-icon>
          {{data.remainder|date:'short'}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    <mat-chip *ngFor="let label of data.labels" [selectable]="selectable" [removable]="removable"
      (removed)="removeLabel(label,data)">
      {{label.labelName}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <div>
      <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="remind">
        <mat-icon>add_alert</mat-icon>
      </button>
      <mat-menu #remind="matMenu" class="morecard" (click)="$event.stopPropagation()">
        <div class="input-wrapper">
          <label>Add a remainder to note:</label>
          <hr>
          <input [min]="min" [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"
            placeholder="select date and time">
          <owl-date-time #dtPicker1></owl-date-time>
        </div>
        <div>
          <button mat-button class="saveButton" (click)="saveRemainder(selectedMoment,data)">Save</button>
        </div>
</mat-menu>
      <button mat-icon-button matTooltip="Collaborator" (click)="dailogCollaborator(data)">
        <mat-icon>person_add</mat-icon>
      </button>
      <app-changecolour [newNote]="data" (colorChange)="updateColor($event)"></app-changecolour>
      <button mat-icon-button matTooltip="Add image">
        <input style="display: none" type="file" (change)="onFileChanged($event,data)" #fileInput>
        <mat-icon (click)="fileInput.click()">image</mat-icon>
</button>
      <button mat-icon-button matTooltip="Add image">
        <mat-icon>image</mat-icon>
      </button>
      <button *ngIf="data.archive" mat-icon-button (click)="updateArchiveNote('',data)" matTooltip="Undo Archive">
        <mat-icon>unarchive</mat-icon>
      </button>
      <button *ngIf="!data.archive" mat-icon-button (click)="updateArchiveNote('archive',data)"
        matTooltip="Undo Archive">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
        <i id="accountcircle" class="material-icons">more_vert</i></button>
      <mat-menu #more="matMenu" class="morecard">
        <button mat-button (click)=moveToTrash(data)>Delete Note</button>
        <app-add-note-labels [note]="data" (eventAddNoteLabel)="addNoteLabel($event)"></app-add-note-labels>
      </mat-menu>
      <button mat-button [mat-dialog-close]="data" (click)="closeClick(data)" style="float:right"
        cdkFocusInitial>Close</button>
    </div>
  </div>
</div>