
<div class="container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
    <app-create-note (createNoteEvent)="getNotes()"></app-create-note>
  <!-- <div fxFlex="40%">

    <app-notesearchbody (eventCreate)="refresh($event)"></app-notesearchbody>
  </div> -->
  <div fxFlex="40%">
    <span><b>pinned notes</b></span>
    <app-retrieve-note [notes]="notes | noteFilter:'pinned'" [grid]="grid" (updateNoteEvent)="onUpdateNote($event)">
    </app-retrieve-note>
  </div>
  <div fxFlex="40%">
    <span><b>other notes</b></span>
    <app-retrieve-note [notes]="notes | noteFilter" [grid]="grid" (updateNoteEvent)="onUpdateNote($event)"></app-retrieve-note>
  </div>
</div>