

 
.link{
    color: rgb(66, 94, 218);
    text-decoration:none 
  }
  #nextbutton{
    background-color:rgb(247, 184, 49);
	color: rgb(255, 255, 255);
}
  .example-full-width{
    color: rgb(7, 7, 6);
  }
  .example-full-width{
    width: 100%;
}