<div class="container" fxLayout="column" fxLayoutGap="10%">
  <div class="row1" fxFlex="33%" fxFlex.md="65"></div>

  <div class="row2" fxFlex="34%" fxLayout="row">
    <div class="col1" fxFlex="33%" fxFlex.xs="0"></div>
    <div class="col2" fxFlex="34%" fxFlex.xs="100">
      <mat-card>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
          <div fxLayoutAlign="center center"><img src="./assets/images/keep-512.png" alt="google" width=25% height=25%>
          </div>
          <mat-card-title fxLayoutAlign="center center">Forgot Password</mat-card-title>

          <p fxLayoutAlign="center center">Enter your email</p>

          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
                <mat-label>EmailId</mat-label>
                <input matInput placeholder="emailid" formControlName="emailId" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                    <mat-error *ngIf="f.emailId.errors.required">EmailId is required</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
          <div>
            <a class="link" routerLink="/login">Back To Login?</a>
            <div fxLayoutAlign="end end"><button mat-button id="nextbutton">Submit</button></div>
          </div>
        </form>
      </mat-card>
    </div>
    <div col="col3" fxFlex="33%" fxFlex.xs="0"></div>
  </div>

  <div class="row3" fxFlex="33%"></div>
</div>