<div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5%">
  <div *ngFor="let note of notes | noteFilter: 'inTrash'">
    <mat-card class="mat-card">
      <mat-card-header>
          <mat-card-title (click)=openDialog(note)>
            {{note.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content (click)=openDialog(note)>
          {{note.description}}
        </mat-card-content>
      <div class="mouseover">
        <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
          <i id="accountcircle" class="material-icons">more_vert</i></button>
        <mat-menu #more="matMenu" class="morecard">
          <button mat-button (click)=deleteNote(note)>Delete Permanently</button>
          <button mat-button (click)=restore(note)>Restore</button>
        </mat-menu>
      </div>
    </mat-card>

  </div>
</div>