<br>
<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="createNoteForm">
    <mat-accordion>


      <mat-expansion-panel [expanded]=true (opened)="showHeader = false" (closed)="onSubmit(createNoteForm.value)"
        (closed)="showHeader = true" hideToggle="true" class="mainClass">

        <mat-expansion-panel-header>
          <ng-container *ngIf="showHeader;else tempTtext">
            <mat-panel-title>
              Take a note...
              <div style="text-align:right; width:100%;">
                <button mat-icon-button matTooltip="new list">
                  <mat-icon>check_box</mat-icon>
                </button>
                <button mat-icon-button matTooltip="new note with image">
                  <mat-icon>image</mat-icon>
                </button>
              </div>
            </mat-panel-title>
          </ng-container>
          <ng-template #tempTtext>

          </ng-template>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <input matInput class="note" placeholder="Title" formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" style="width: 500 px;">
          <button mat-icon-button matTooltip="Pin_note" (click)=pinned(notes) title="Pin note" style="text-align:right;"
            class="pinNotes">
            <img src="./assets/images/pin.png">


          </button>
        </mat-panel-description>
        <mat-panel-description>
          <textarea matInput class="note" placeholder="Take a note.." formControlName="discription"
            [ngClass]="{ 'is-invalid': submitted && f.discription.errors }" style="width: 500px;"></textarea>
        </mat-panel-description>

        <mat-panel-description>
          <button mat-icon-button matTooltip="Remind me">
            <mat-icon>add_alert</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Collaborator">
            <mat-icon>person_add</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Change color">
            <mat-icon>palette</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Add image">
            <mat-icon>image</mat-icon>
          </button>
          <button mat-button [matMenuTriggerFor]="more_vert" matTooltip="more_vert" title="more_vert">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more_vert="matMenu">
            <button mat-menu-item [routerLink]="['homepage/edit-label']">
              <span>Add labels</span>
            </button>
            <button mat-menu-item>
              <span>Show tick boxes</span>
            </button>
          </mat-menu>
          <button mat-icon-button matTooltip="undo">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="redo">
            <mat-icon>redo</mat-icon>
          </button>
          <button mat-button (click)="showHeader = true">
            <span>close</span>
          </button>
        </mat-panel-description>
      </mat-expansion-panel>

    </mat-accordion>
  </form>

</div>

